# ignore all logs
docs/build/
source/__pycache__/
source/exceptions/__pycache__/
/venv/
/help/
/lib/
/bin/

tests/__pycache__/

.project
.settings
.pydevproject
.pytest_cache

get-pip.py

.externalToolBuilders/Make.launch

source/context.py
